<section id="contact" class="contact-section bg-black">
  <div class="col-md-2 offset-md-5">
    <div class="card py-4 h-100">
      <div class="card-body text-center">
        <i class="fas fa-envelope text-primary mb-2"></i>
        <h4 class="text-uppercase m-0">{{ Email }}</h4>
        <hr class="my-4" />
        <div class="small text-black-50">
          <a href="mailto:zdravko6t5@gmail.com">{{ Emailink }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="social d-flex justify-content-center">
    <a
      href="{{ GitHub }}"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2"
      ><img src="{{ GitHubsvg }}" alt="github"
    /></a>
    <a
      href="{{ LinkedIn }}"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2"
      ><img src="{{ LinkedInsvg }}" alt="linkedin"
    /></a>
    <a
      href="{{ Instagram }}"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2"
      ><img src="{{ Instagramsvg }}" alt="instagram"
    /></a>
    <a
      href="{{ Twitter }}"
      target="_blank"
      rel="noopener noreferrer"
      class="mx-2"
      ><img src="{{ Twittersvg }}" alt="twitter" style="width: 40%"
    /></a>
  </div>
</section>
