<section id="contact" class="contact-section bg-black">
    <div class="col-md-2 offset-md-5">
        <div class="card py-4 h-100">
            <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                    <a href="mailto:zdravko6t5@gmail.com">{{Email}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="social d-flex justify-content-center">
        <a href="https://github.com/jamesb97/" target="_blank" rel="noopener noreferrer" class="mx-2"><img src="../../assets/img/github.svg" alt="github" /></a>
        <a href="https://linkedin.com/in/zdravkobozhkov/" target="_blank" rel="noopener noreferrer" class="mx-2"><img src="../../assets/img/linkedin.svg" alt="linkedin" /></a>
        <a href="https://instagram.com/zbozhkov/" target="_blank" rel="noopener noreferrer" class="mx-2"><img src="../../assets/img/instagram.svg" alt="instagram" /></a>
        <a href="https://twitter.com/zdravko6t5/" target="_blank" rel="noopener noreferrer" class="mx-2"><img src="../../assets/img/twitter-brands.svg" alt="twitter" style="width: 40%;" /></a>
    </div>
</section>