<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0">EXPERIENCE</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        {{ ExperienceTag }}
      </h2>
      <img class="icons" src="{{ Adobe }}" alt="adobe" />
      <img class="icons" src="{{ Figma }}" alt="figma" style="width: 5%" />
      <img class="icons" src="{{ Sketch }}" alt="sketch" style="width: 7%" />
      <br />
      <div type="id" element="about">
        <a id="about" class="btn btn-primary" href="#about"> Dive In </a>
      </div>
    </div>
  </div>
</header>

<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">
          About Me:
          <img
            class="me"
            src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/Snapchat-611208046.jpg?alt=media&token=c82990c5-96c6-40da-8559-54871fe10a8a"
            alt="me"
          />
        </h2>
        <br />
        <h4 class="text-white-50">{{ Name }}</h4>
        <p class="text-white-50">
          {{ Me }}
          <a
            href="{{ IllustrationsLink }}"
            target="_blank"
            rel="noopener noreferrer"
            >{{ Illustrations }}.</a
          >
          <br />
          <a
            class="btn btn-gray js-scroll-trigger dribbble"
            href="https://dribbble.com/zdravko6t5"
            target="_blank"
            rel="noopener noreferrer"
            >Dribbble</a
          >
        </p>
      </div>
    </div>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/swimming.png?alt=media&token=f0875197-ec87-48ac-9f76-b312cfc74b22"
      class="img-fluid swim"
      alt="swim"
    />
  </div>
</section>
