<section id="projects" class="projects-section bg-light">
  <div class="container">
    <h2>My Designs</h2>
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img
          class="img-fluid mb-3 mb-lg-0"
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/PhonePic.png?alt=media&token=70547d89-53c1-425c-8518-4add19beac7b"
          alt="phonepic"
          style="border-radius: 1%"
        />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Digital Emitting</h4>
          <p class="text-black-50 mb-0">{{ DigitalEmitting }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/Sleepy.png?alt=media&token=d3ff50e2-a2f3-46e0-9ac2-b6275a89143f"
          alt="sleepy"
          style="max-width: 100%; height: auto; border-top-left-radius: 2%"
        />
      </div>
      <div class="col-lg-6">
        <div
          class="bg-black text-center h-100 project"
          style="border-top-right-radius: 2%"
        >
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Sleepy</h4>
              <p class="mb-0 text-white-50">{{ Sleepy }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/swimmerinasphalt.png?alt=media&token=830e0609-623a-4715-825d-369573731af1"
          alt="swimmer"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Out of Place</h4>
              <p class="mb-0 text-white-50">
                {{ Place }}
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/woman-wearing-white-and-black-shirt2-1388888.png?alt=media&token=7d6b53a5-a002-4aa4-a61a-0059418a47a6"
          alt="woman"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Puzzled</h4>
              <p class="mb-0 text-white-50">{{ Puzzled }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/fingers-hand-reaching-1454797.png?alt=media&token=9c2e9dc1-141b-4330-abb5-450327587d40"
          alt="finger"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Lights</h4>
              <p class="mb-0 text-white-50">{{ Lights }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/woman-wearing-green-jacket-and-brown-pants-3641425.png?alt=media&token=2ed5db21-e766-43bc-9311-fed77db092f8"
          alt="woman"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">City</h4>
              <p class="mb-0 text-white-50">{{ City }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/avocadologo1.png?alt=media&token=5dcd9a66-60f2-437f-86e8-4fa1abb9c263"
          alt="avocado"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Avocado</h4>
              <p class="mb-0 text-white-50">{{ Avocado }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/rocketship.png?alt=media&token=d7e20a0c-69f4-48ea-a446-71dacd22e7e3"
          alt="rocket"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Launch</h4>
              <p class="mb-0 text-white-50">{{ Launch }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/ladyblue1.png?alt=media&token=7383bad6-5008-46f1-a044-d445fa906d94"
          alt="woman"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Skyfall</h4>
              <p class="mb-0 text-white-50">{{ Skyfall }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/vero.png?alt=media&token=16f1dc93-bcf3-4328-82bc-6706573ce3d7"
          alt="vero"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Vero</h4>
              <p class="mb-0 text-white-50">{{ Vero }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/bozhkov_A10.jpg?alt=media&token=93b856d5-800c-4750-a101-03e1cc2fb1c7"
          alt="letters"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">A-Z</h4>
              <p class="mb-0 text-white-50">{{ AtoZ }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/coffee1.png?alt=media&token=69013e9a-0cb0-4ba0-bd07-93807512e2d0"
          alt="coffee"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Coffee</h4>
              <p class="mb-0 text-white-50">{{ Coffee }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/angulardesigns-aaa7c.appspot.com/o/hamburger.png?alt=media&token=39bb75c9-b062-4d34-b8f6-1453495f4391"
          alt="hamburger"
          class="img-fluid"
          style="max-width: 100%; height: auto; border-bottom-right-radius: 2%"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div
          class="bg-black text-center h-100 project"
          style="border-bottom-left-radius: 2%"
        >
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Hamburger</h4>
              <p class="mb-0 text-white-50">{{ Hamburger }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
