<section id="projects" class="projects-section bg-light">
  <div class="container">
    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
      <div class="col-xl-8 col-lg-7">
        <img
          class="img-fluid mb-3 mb-lg-0"
          src="../../assets/images/PhonePic.png"
          alt="phonepic"
          style="border-radius: 1%"
        />
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Digital Emitting</h4>
          <p class="text-black-50 mb-0">{{ DigitalEmitting }}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../../assets/images/Sleepy.png"
          alt="sleepy"
          style="max-width: 100%; height: auto; border-top-left-radius: 2%"
        />
      </div>
      <div class="col-lg-6">
        <div
        class="bg-black text-center h-100 project"
        style="border-top-right-radius: 2%"
      >
        <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Sleepy</h4>
              <p class="mb-0 text-white-50">{{ Sleepy }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="../../assets/images/swimmerinasphalt.png"
          alt="swimmer"
          class="img-fluid"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Out of Place</h4>
              <p class="mb-0 text-white-50">
                {{ Place }}
              </p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="../../assets/images/woman-wearing-white-and-black-shirt2-1388888.png"
          alt="woman"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Puzzled</h4>
              <p class="mb-0 text-white-50">{{ Puzzled }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          class="img-fluid"
          src="../../assets/images/fingers-hand-reaching-1454797.png"
          alt="finger"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Lights</h4>
              <p class="mb-0 text-white-50">{{ Lights }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="../../assets/images/woman-wearing-green-jacket-and-brown-pants-3641425.png"
          alt="woman"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">City</h4>
              <p class="mb-0 text-white-50">{{ City }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="../../assets/images/avocadologo1.png"
          alt="avocado"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Avocado</h4>
              <p class="mb-0 text-white-50">{{ Avocado }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="../../assets/images/rocketship.png"
          alt="rocket"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Launch</h4>
              <p class="mb-0 text-white-50">{{ Launch }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="../../assets/images/ladyblue1.png"
          alt="woman"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Skyfall</h4>
              <p class="mb-0 text-white-50">{{ Skyfall }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="../../assets/images/vero.png"
          alt="vero"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Vero</h4>
              <p class="mb-0 text-white-50">{{ Vero }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters">
      <div class="col-lg-6">
        <img
          src="../../assets/images/bozhkov_A10.jpg"
          alt="letters"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">A-Z</h4>
              <p class="mb-0 text-white-50">{{ AtoZ }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="../../assets/images/coffee1.png"
          alt="coffee"
          class="img-fluid"
          style="max-width: 100%; height: auto"
        />
      </div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Coffee</h4>
              <p class="mb-0 text-white-50">{{ Coffee }}</p>
              <hr class="d-none d-lg-block mb-0 ml-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
      <div class="col-lg-6">
        <img
          src="../../assets/images/hamburger.png"
          alt="hamburger"
          class="img-fluid"
          style="max-width: 100%; height: auto; border-bottom-right-radius: 2%"
        />
      </div>
      <div class="col-lg-6 order-lg-first">
        <div
          class="bg-black text-center h-100 project"
          style="border-bottom-left-radius: 2%"
        >
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Hamburger</h4>
              <p class="mb-0 text-white-50">{{ Hamburger }}</p>
              <hr class="d-none d-lg-block mb-0 mr-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
